.navigation {
  background-color: var(--white);
  bottom: 0;
  box-shadow: 0 -2px 5px var(--secondary-light);
  left: 0;
  right: 0;
  font-size: 0.9rem;
  padding: 10px;
  position: fixed;
}
.navigation > ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0;
  width: 350px;
}

.navigation li {
  list-style: none;
  padding: 5px 10px;
}

.nav__link {
  color: var(--secondary-dark);
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.nav__link:hover {
  color: var(--primary);
}

.nav__link--active {
  text-decoration: underline;
  color: var(--primary);
}
