.navigation {
  background: rgba(255, 182, 39, 0.5);
  bottom: 0;
  font-size: 0.9rem;
  padding: 10px;
  position: sticky;
}
.navigation > ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0;
  width: 350px;
}

.navigation li {
  background: linear-gradient(45deg, #ff9505, #ff9505, #e2711d, #cc5803);
  box-shadow: -1px -1px 4px #ff9505, -2px -2px 3px #000;
  list-style: none;
  padding: 5px 10px;
}

.nav__link {
  color: #f5f5f5;
  text-decoration: none;
}

.nav__link:hover {
  letter-spacing: 0.03rem;
}

.nav__link--active {
  text-decoration: underline;
}
