.profile {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile__img {
  border-radius: 50%;
  border: 2px dashed #e2711d;
  box-shadow: 1px 1px 2px #e2711d, 2px 2px 4px #cc5803, 4px 4px 3px #000;
  height: 200px;
  width: 200px;
}
